body{
	background-color: lightblue ;
	color:rgb(20,20,20);
	font-family :sans-serif;
	height:100%;	
	background-image: linear-gradient( #546E77, #384152 , #3A4D5B);
	
/*    background: linear-gradient(360deg, #1C1C1C 10%, #494949 360%) no-repeat;*/
    background-size: cover;
	height:100%;
}